 .u-section-1 {
  background-image: url("images/1IsXQYm-camouflage-desktop-wallpaper.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 717px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 129px 0 0 auto;
}

.u-section-1 .u-table-1 {
  margin: 30px auto;
}

.u-block-76d3-46 {
  background-image: none;
}

.u-block-76d3-47 {
  border-style: solid;
}

.u-block-76d3-49 {
  border-style: solid;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
  text-decoration: underline !important;
}

.u-section-1 .u-table-cell-1 {
  border-style: solid;
}

.u-section-1 .u-table-cell-2 {
  border-style: solid;
}

.u-section-1 .u-table-cell-3 {
  border-style: solid;
}

.u-section-1 .u-table-cell-4 {
  border-style: solid;
}

.u-section-1 .u-table-cell-5 {
  border-style: solid;
}

.u-section-1 .u-table-body-1 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-6 {
  background-image: none;
  border-style: solid;
}

.u-section-1 .u-table-cell-7 {
  border-style: solid;
}

.u-section-1 .u-table-cell-8 {
  border-style: solid;
}

.u-section-1 .u-table-cell-9 {
  border-style: solid;
}

.u-section-1 .u-table-cell-10 {
  border-style: solid;
}

.u-section-1 .u-table-cell-11 {
  background-image: none;
  border-style: solid;
}

.u-section-1 .u-table-cell-12 {
  border-style: solid;
}

.u-section-1 .u-table-cell-13 {
  border-style: solid;
}

.u-section-1 .u-table-cell-14 {
  border-style: solid;
}

.u-section-1 .u-table-cell-15 {
  border-style: solid;
}

.u-section-1 .u-table-cell-16 {
  background-image: none;
  border-style: solid;
}

.u-section-1 .u-table-cell-17 {
  border-style: solid;
}

.u-section-1 .u-table-cell-18 {
  border-style: solid;
}

.u-section-1 .u-table-cell-19 {
  border-style: solid;
}

.u-section-1 .u-table-cell-20 {
  border-style: solid;
}

.u-section-1 .u-table-cell-21 {
  background-image: none;
  border-style: solid;
}

.u-section-1 .u-table-cell-22 {
  border-style: solid;
}

.u-section-1 .u-table-cell-23 {
  border-style: solid;
}

.u-section-1 .u-table-cell-24 {
  border-style: solid;
}

.u-section-1 .u-table-cell-25 {
  border-style: solid;
}

.u-block-76d3-35 {
  background-image: none;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-table-cell-1 {
    border-style: double;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 453px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 340px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 214px;
  }
}